In [21]:
#what is the problem ?
"""
Binary classification >> no regression / no clustetring
"""
# What are the existing data sources?
""" 
Data sources available on Kaggle:
1. train.csv  → Contains ~891 passengers with 'Survived' column (ground truth)
2. test.csv   → Contains ~418 passengers without 'Survived'; predictions are required
3. gender_submission.csv → Example submission file for format reference

Main columns: PassengerId, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked
"""
# What privacy concerns exist?
"""
Privacy concerns: None
The dataset is public and historical (from 1912), containing no sensitive modern information.
"""
# Is the data public?
"""
Yes, the data is fully public.
Anyone registered on Kaggle can download and work with it.
This is a Getting Started competition, so no invitation is required.
"""
#Where should we store the files?
"""
Recommended local folder structure:

Titanic_Project/
    train.csv
    test.csv
    gender_submission.csv
    Titanic_Notebook.ipynb

Alternatively, you can work directly on Kaggle Notebooks, where files are stored automatically in the cloud.
"""

'\nRecommended local folder structure:\n\nTitanic_Project/\n    train.csv\n    test.csv\n    gender_submission.csv\n    Titanic_Notebook.ipynb\n\nAlternatively, you can work directly on Kaggle Notebooks, where files are stored automatically in the cloud.\n'

In [22]:
# Titanic Dataset Summary
# Target variable: Survived (0 = Did not survive, 1 = Survived)
# Categorical features: Pclass (1=Upper, 2=Middle, 3=Lower), Sex, Embarked (C, Q, S)
# Numerical features: Age, SibSp (#siblings/spouses), Parch (#parents/children), Fare
# Other features: Ticket, Cabin (can be used for feature engineering)
# Missing values: Age, Embarked, Cabin
# Additional features to create: FamilySize = SibSp + Parch + 1, IsAlone, Title from Name
# Goal: Predict survival of passengers using features and feature engineering

In [23]:
# Data manipulation
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns

# Machine Learning
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Display plots inline
%matplotlib inline
train = pd.read_csv(r"D:\Downloads\titanic\train.csv")
test = pd.read_csv(r"D:\Downloads\titanic\test.csv")
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
print(train.isnull().sum())
print("____________________________________________________________")
print(test.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
____________________________________________________________
PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [25]:
train['Age'] = train['Age'].fillna(train['Age'].median())
test['Age'] = test['Age'].fillna(test['Age'].median())

train['Embarked'] = train['Embarked'].fillna(train['Embarked'].mode()[0])


train['Fare'] = train['Fare'].fillna(train['Fare'].median())
test['Fare'] = test['Fare'].fillna(test['Fare'].median())

train['Cabin'] = train['Cabin'].str[0].fillna('U')
test['Cabin'] = test['Cabin'].str[0].fillna('U')

In [26]:
print(train.isnull().sum())
print(test.isnull().sum())

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64
PassengerId    0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [27]:
#Converting (Categorical → Numeric)

train['Sex'] = train['Sex'].map({'male':0,'female':1})
test['Sex'] = test['Sex'].map({'male':0,'female':1})


train = pd.get_dummies(train, columns=['Embarked'], drop_first=True)
test = pd.get_dummies(test, columns=['Embarked'], drop_first=True)


train['Cabin'] = train['Cabin'].str[0].fillna('U')
test['Cabin'] = test['Cabin'].str[0].fillna('U')

train = pd.get_dummies(train, columns=['Cabin'], drop_first=True)
test = pd.get_dummies(test, columns=['Cabin'], drop_first=True)

In [28]:
train, test = train.align(test, join='left', axis=1, fill_value=0)

In [29]:
# استخراج Title
train['Title'] = train['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)
test['Title'] = test['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

# Titles النادرة في train
train_titles = train['Title'].value_counts()
rare_titles = train_titles[train_titles < 10].index
train['Title'] = train['Title'].replace(rare_titles, 'Rare')

# أي title في test مش موجودة في train (unseen) يتحول لـ 'Rare'
test['Title'] = test['Title'].apply(lambda x: x if x in train['Title'].values else 'Rare')

# Label Encoding
le = LabelEncoder()
train['Title'] = le.fit_transform(train['Title'])
test['Title'] = le.transform(test['Title'])

In [43]:
Y = train['Survived']
X = train.drop(['Survived','PassengerId','Ticket','Name'], axis=1)
X_test = test.drop(['PassengerId','Ticket','Name'], axis=1)
X_test_original = test.drop(['PassengerId','Ticket','Name','Survived'], axis=1, errors='ignore')

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=42)

In [32]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
log= LogisticRegression(max_iter=500)
log.fit(X_train,Y_train)
Y_pred=log.predict(X_test)
accuarcy=accuracy_score(Y_test,Y_pred)
cm = confusion_matrix(Y_test,Y_pred)
print ("Accuarcy on validation :",accuarcy)
print("Confusion Matrix\n",cm)

Accuarcy on validation : 0.8071748878923767
Confusion Matrix
 [[115  19]
 [ 24  65]]

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, confusion_matrix


dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train, Y_train)


Y_pred_dt = dt.predict(X_test)


acc_dt = accuracy_score(Y_test, Y_pred_dt)
cm_dt = confusion_matrix(Y_test, Y_pred_dt)

print("Decision Tree Accuracy:", acc_dt)
print("Decision Tree Confusion Matrix:\n", cm_dt)

Decision Tree Accuracy: 0.757847533632287
Decision Tree Confusion Matrix:
 [[104  30]
 [ 24  65]]

In [34]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, Y_train)

Y_pred_rf = rf.predict(X_test)


acc_rf = accuracy_score(Y_test, Y_pred_rf)
cm_rf = confusion_matrix(Y_test, Y_pred_rf)

print("Random Forest Accuracy:", acc_rf)
print("Random Forest Confusion Matrix:\n", cm_rf)

Random Forest Accuracy: 0.7982062780269058
Random Forest Confusion Matrix:
 [[111  23]
 [ 22  67]]

In [45]:
final_pred = log.predict(X_test_original)

submission = pd.DataFrame({
    'PassengerId': test['PassengerId'],
    'Survived': final_pred
})
submission.to_csv('submission.csv', index=False)
print(" Submission file created successfully!")

 Submission file created successfully!